#content {
  justify-content: flex-start !important;
}

#content > * {
  width: 100%;
}

.many-buttons {
  width: 100%;
  display: flex;
}

.many-buttons > * {
  flex: 1;
  margin-right: .3em;
}

.many-buttons > *:last-of-type {
  margin-right: 0;
}

.submit-btn {
  max-width: 98%;
  margin: 0 auto;
  margin-bottom: .5em;
}
