<app-loading *ngIf="!dataArrived"></app-loading>

<div id="content" *ngIf="dataArrived">
	<div class="many-buttons"  *ngIf="loggedIn">
		<button class="submit-btn" type="submit" (click)="backToFeed()">ᐊ Back to feed</button>
		<button class="submit-btn" type="submit" (click)="backToProfile()">ᐊ Back to profile</button>
	</div>
	<button class="submit-btn" type="submit" (click)="toLogin()" *ngIf="!loggedIn">Login</button>
	<app-post [paramId]="postId.toString()"></app-post>
	<div class="many-buttons" *ngIf="editable">
		<button class="submit-btn" (click)="editPost()">Edit post</button>
		<button class="submit-btn delete-btn" (click)="deletePost()">Delete post</button>
	</div>
	<form  id="editPost" [formGroup]="editPostFormGroup"  *ngIf="editingPost" (ngSubmit)="editPost()">
		<input id="new-message-input" type="text" placeholder="New post message" class="input-field" formControlName="newPostMessage">
		<img id="attachment-img" src="assets/images/paper-clip.png">
		<input id="file-upload" type="file" formControlName="fileUpload" (change)="onFileUpload($event)" multiple>
		<input type="submit" style="display: none" />
	</form>
	<div class="form-attachments" *ngIf="editingPost">
		<div *ngFor="let file of files" class="form-attachment">
			{{ file.name ? file.name : 'Attachment' }}
			<div class="remove-form-attachment" (click)="removeAttachment(file.name)">
				☒
			</div>
		</div>
	</div>
	<form [formGroup]="addCommentFormGroup" (ngSubmit)="addComment()">
		<input type="text" placeholder="Add comment" class="input-field" formControlName="newComment">
		<input type="submit" style="display: none" />
	</form>
	<div>
		<div class="comment" *ngFor="let comm of post?.comments">
			<app-comment [paramId]="comm.id.toString()"></app-comment>
		</div>
	</div>
<div>
