* {
  box-sizing: border-box;
}

#content {
  max-width: 22em;
  justify-content: start;
}

form {
  width: 100%;
}

hr {
  width: calc(100% - 1em);
  color: black;
  border: 1px solid black;
}

/* Navigation bar (for loggedin user) */

#navigation {
  display: flex;
  width: 100%;
}

#navigation > .submit-btn {
  flex: 1;
  margin-top: 0;
  margin-left: .5em;
  font-size: inherit;
}

#navigation > .submit-btn:nth-of-type(1) {
  margin-left: 0;
}

/* Form */

.input-field {
  border-color: var(--focus-color) !important;
  caret-color: var(--focus-color);
  border-width: 2px !important;
  margin-top: -1px !important;
}

.input-field-label {
  font-size: .7em;
  color: var(--focus-color);
  transform: translate(0, -1.2em);
}

/* Buttons */

#successful-update-msg {
  background-color: var(--success);
  color: white;
  width: 100%;
  padding: .2em;
  margin-top: .5em;
  text-align: center;
}

#delete-account:hover {
  color: indianred;
  border-color: indianred !important;
}
