<app-loading *ngIf="!dataArrived"></app-loading>

<div id="content" *ngIf="dataArrived">
	<nav id="navigation">
		<button class="submit-btn" type="submit" (click)="goBack()">ᐊ Back</button>
		<button class="submit-btn" type="submit" (click)="navigateToSettings()" *ngIf="loggedInUser">Settings</button>
	</nav>
	<hr>
	<div id="main-info" class="rounded-border">
		<img class="round-image" [src]="user.imageUrl" alt=""/>
		<div id="other-main-info">
			<div id="name">
				{{ user.firstName }} {{ user.lastName }}
			</div>
			<div id="username">
				@{{ user.userName }}
			</div>
		</div>
	</div>
	<div class="secondary-info rounded-border">
		Languages:
		<div class="user-language">
			C#
		</div>
		<div class="user-language">
			TypeScript
		</div>
	</div>
	<div class="secondary-info rounded-border">
		Technologies:
		<div class="user-technology">
			.NET 5
		</div>
		<div class="user-technology">
			Angular
		</div>
	</div>
	<div id="posts">
		<hr>
		Posts go here
	</div>
</div>
