<app-loading *ngIf="!dataArrived"></app-loading>

<div id="content" *ngIf="dataArrived">
	<nav id="navigation">
		<button class="submit-btn" (click)="goBack()">ᐊ Back</button>
		<button class="submit-btn" (click)="navigateToSettings()" *ngIf="loggedInUser">Settings</button>
		<button class="submit-btn" (click)="logout()" *ngIf="loggedInUser">Logout</button>
	</nav>
	<hr>
	<div class="scroll-standalone">
		<div id="main-info" class="rounded-border">
			<img class="round-image" [src]="user.imageUrl" alt=""/>
			<div id="other-main-info">
				<div id="name">
					{{ user.firstName }} {{ user.lastName }}
				</div>
				<div id="username">
					@{{ user.userName }}
				</div>
			</div>
		</div>
		<div class="secondary-info rounded-border">
			Languages:
			<div *ngFor="let lang of user.languages">
				<div class="user-language">
					{{ lang.name }}
				</div>
			</div>
			<div *ngIf="showNoLangMsg">
				&nbsp;None
			</div>
		</div>
		<div class="secondary-info rounded-border">
			Technologies:
			<div *ngFor="let tech of user.technologies">
				<div class="user-language">
					{{ tech.name }}
				</div>
			</div>
			<div *ngIf="showNoTechMsg">
				&nbsp;None
			</div>
		</div>
		<hr>
		<div id="posts">
			<div id="no-posts" *ngIf="userPosts.length === 0">
				{{ user.firstName }} {{ user.lastName }} hasn't posted anything yet!
			</div>
			<div *ngFor="let userPost of userPosts">
				<app-post [paramId]="userPost.postId.toString()"></app-post>
			</div>
		</div>
	</div>
</div>
