<div id="content">
	<div id="main-info" class="rounded-border">
		<img class="round-image" src="assets/images/feed/profile-pic.png" alt=""/>
		<div id="other-main-info">
			<div id="name">
				Gosho Trapov
			</div>
			<div id="username">
				@gosho_trapov
			</div>
		</div>
	</div>
	<div class="secondary-info rounded-border">
		Languages:
		<div class="user-language">
			C#
		</div>
		<div class="user-language">
			TypeScript
		</div>
	</div>
	<div class="secondary-info rounded-border">
		Technologies:
		<div class="user-technology">
			.NET 5
		</div>
		<div class="user-technology">
			Angular
		</div>
	</div>
	<div id="posts">
		<hr>
		Posts go here
	</div>
</div>
