<app-loading *ngIf="!loaded"></app-loading>

<div id="content" *ngIf="loaded">
	<button class="submit-btn" type="submit" (click)="toPost()">ᐊ Back to post</button>
	<app-comment [paramId]="commentId.toString()"></app-comment>
	<div class="many-buttons" *ngIf="editable">
		<button class="submit-btn" (click)="editComment()">Edit comment</button>
		<button class="submit-btn delete-btn" (click)="deleteComment()">Delete comment</button>
	</div>
	<form  [formGroup]="editCommentFormGroup" (ngSubmit)="editComment()">
		<input type="text" *ngIf="editingComment" placeholder="New comment message" class="input-field" formControlName="newCommentMessage">
		<input type="submit" style="display: none" />
	</form>
<div>
