#content {
  max-width: 22em;
  justify-content: start;
}

hr {
  width: calc(100% - 1em);
  color: black;
  border: 1px solid black;
}

#navigation {
  width: 100%;
  display: flex;
}

#navigation > * {
  flex: 1;
  margin-left: .4em;
}

.submit-btn:first-of-type {
  margin-left: 0 !important;
}

#all-languages, #all-technologies {
  display: flex;
  flex-wrap: wrap;
}

.flexbox {
  display: flex;
}

.flexbox > * {
  flex: 1;
  margin-left: 1em;
}

.flexbox > *:first-child {
  margin-left: 0;
}
