<div id="content">
	<div class="title">Login</div>

	<form [formGroup]="loginUserFormGroup" (ngSubmit)="onSubmit()">
		<hr>

		<div class="input-selection">
			<input type="text" placeholder="Username" class="input-field" formControlName="username" required>
			<label class="input-field-label">Username</label>
		</div>

		<div class="input-selection">
			<input type="password" placeholder="Password" class="input-field" formControlName="password" required>
			<label class="input-field-label">Password</label>
		</div>

		<hr>
		<button class="submit-btn" type="submit">Submit</button>
	</form>
	<form [formGroup]="loginUserFormGroup" (ngSubmit)="onRedirectRegister()">
		<button class="submit-btn redirect-to-register" type="submit">New to DevHive? Register instead</button>
	</form>
</div>
