* {
  transition: .2s;
}

form {
  width: 100%;
}

#content hr {
	width: 100%;
	border: 1px solid black;
	box-sizing: border-box;
}

.input-selection:nth-of-type(1) {
  margin-top: 1.2em;
}

.submit-btn {
  margin-bottom: .2em;
}

.redirect-to-register {
  color: var(--focus-color);
  background-color: var(--bg-color);
  border-color: var(--focus-color);
}

.redirect-to-register:hover {
  border-color: black !important;
  color: black;
}
