<div class="post">
	<div class="content">
		<div class="author">
			<img class="round-image" src="assets/images/feed/profile-pic.png">
			<div class="author-info">
				<div class="name">
					{{ user.firstName }} {{ user.lastName }}
				</div>
				<div class="handle">
					@{{ user.userName }}
				</div>
			</div>
		</div>
		<div class="message">
			Your opinion on my idea?
		</div>
		<div class="timestamp">
			17:41 - 27 Dec 2020
		</div>
	</div>
	<div class="rating">
		<button class="vote">
			ᐃ
		</button>
		<div class="score">
			{{ votesNumber }}
		</div>
		<button class="vote">
			ᐁ
		</button>
	</div>
</div>
