.post {
  display: flex;
  width: inherit;
  margin: .5em 0;
}

/* Author */

.author {
  display: flex;
  margin-bottom: .2em;
}

.author > img {
  width: 2.2em;
  height: 2.2em;
  margin-right: .2em;
}

.author-info > .handle {
  font-size: .9em;
  color: gray;
}

/* Content */

.content {
  flex: 1;
}

.message {
  margin: .3em 0;
}

.timestamp {
  font-size: .5em;
  color: gray;
}

/* Rating */

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: -.2em;
}

.vote {
  flex: 1;
  background: white;
  font-size: 1em;
  box-sizing: border-box;
  border: 2px solid white;
  border-radius: .3em;
}

.vote:hover {
  background: lightgray;
}

.vote:active {
  border-color: black;
}
