<div class="post rounded-border" *ngIf="loaded">
	<div class="content">
		<div class="author" (click)="goToAuthorProfile()">
			<img class="round-image" [src]="user.imageUrl">
			<div class="author-info">
				<div class="name">
					{{ user.firstName }} {{ user.lastName }}
				</div>
				<div class="handle">
					@{{ user.userName }}
				</div>
			</div>
		</div>
		<div class="message" (click)="goToPostPage()">
			{{ post.message }}
		</div>
		<div class="timestamp" (click)="goToPostPage()">
			{{ timeCreated }}
		</div>
	</div>
	<div class="rating">
		<button class="vote">
			ᐃ
		</button>
		<div class="score">
			{{ votesNumber }}
		</div>
		<button class="vote">
			ᐁ
		</button>
	</div>
</div>
