.post {
	width: 100%;
	display: flex;

	border: 2px solid black;
	border-radius: 10px;
	padding: 4px;
}

.post-info {
	flex: 1;
}

/* Start of navigation */

.profile {
	width: 25%;
	display: flex;
	box-sizing: border-box;
}

.post-profile-pic img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
}

.user-info {
	width: 100%;
	padding-left: 5px;
}

/* End of navigation */


/* Start of post */

.content {
}

.message {
}

.date-created {
	font-size: small;
	color: grey;
	/* TODO: Do this!!! */
}

.separator {
	width: 100%;
}

/* End of post */


/* Start of rating */

.rating {
	height: 100%;
	text-align: center;
	align-self: center;
}

.rating button {
	background-color: transparent;
	background-repeat: no-repeat;
	border: none;
}

.rating button:hover {
	cursor: pointer;
}

/* End of rating */
