.post {
  display: flex;
  width: 95%;

  margin: .5em auto;
  box-sizing: border-box;
  border: 2px solid var(--card-bg);
  padding: .5em;
  background-color: var(--card-bg);
  border-radius: .6em;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

  /* So the bottom shadow of the last element
   * doesn't get cut off
   */
.post:nth-last-child(1) {
  margin-bottom: 1.1em;
}

hr {
  border: 1px solid black;
  width: 90%;
}

/* Author */

.author {
  display: flex;
  margin-bottom: .2em;
}

.author > img {
  width: 2.2em;
  height: 2.2em;
  margin-right: .2em;
}

.author-info > .handle {
  font-size: .9em;
  color: gray;
}

/* Content */

.content {
  flex: 1;
}

.message {
  margin: .3em 0;
}

.timestamp {
  font-size: .5em;
  color: gray;
}

/* Rating */

.rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: -.1em;
}

.score {
  flex: 1;
  display: flex;
  align-items: center;
}


.vote {
  display: flex;
  align-items: center;
  flex: 1;

  background: var(--card-bg);
  font-size: 1em;

  border: 1px solid var(--card-bg);
  box-sizing: border-box;
  border-radius: .2em;

  }

.vote:hover {
  border: 1px solid var(--focus-color);
  color: var(--focus-color);
  cursor: pointer;
}
