#feed-page {
  max-width: 40em;
  margin: 0 auto;
  border: .5em solid white;
  border-bottom: 0;
  box-sizing: border-box;
  display: flex;
}

@media screen and (max-width: 750px) {
  #profile-bar {
    display: none !important;
  }
  #top-bar-profile-pic {
    display: initial;
  }
}
@media screen and (min-width: 750px) {
  #profile-bar {
    display: initial;
  }
  #top-bar-profile-pic {
    display: none !important;
  }
}

/* Content */

#feed-content {
  flex: 1;
}

#posts {
  max-height: calc(100vh - 3em);
  overflow-y: auto;
}

/* Profile bar */

#profile-bar {
  width: 20%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin-right: .5em;
  padding-bottom: 1em;
}

#profile-bar-profile-pic {
  width: 100%;
  box-sizing: border-box;
  padding: .5em;
}

#profile-bar-name {
  text-align: center;
  margin-bottom: .5em;
}

/* Top bar */

#top-bar {
  display: flex;
}

#top-bar img {
  height: 1.6em;
  width: 1.6em;
}

#top-bar-profile-pic {
  height: 2.5em;
  width: 2.5em;
  margin-right: .5em;
}

#top-bar-profile-pic > img {
  height: inherit;
  width: inherit;
}

#top-bar-create-post {
  flex: 1;
  font-size: inherit;
}

#top-bar-open-chat {
  /* Until implemented */
  display: none;
}
