<app-loading *ngIf="!dataArrived"></app-loading>

<div id="feed-page" *ngIf="dataArrived">
	<nav id="profile-bar">
		<div id="profile-info" (click)="goToProfile()">
			<img id="profile-bar-profile-pic" class="round-image" [src]="user.imageUrl" alt=""/>
			<div id="profile-bar-name">
				{{ user.firstName }} {{ user.lastName }}
			</div>
			<div id="profile-bar-username">
				@{{ user.userName }}
			</div>
		</div>
		<button class="submit-btn" (click)="goToSettings()">Settings</button>
		<button class="submit-btn" (click)="logout()">Logout</button>
	</nav>
	<div id="feed-content">
		<nav id="top-bar">
			<img id="top-bar-profile-pic" class="round-image" [src]="user.imageUrl" alt="" (click)="goToProfile()">
			<input id="top-bar-create-post" type="text" placeholder="What's on your mind?"/>
			<a id="top-bar-open-chat" href="">
				<img src="assets/images/feed/chat-pic.png" alt=""/>
			</a>
		</nav>
		<div id="posts" class="scroll-standalone">
			<div *ngFor="let post of posts" class="post">
				<app-post></app-post>
			</div>
		</div>
	</div>
</div>
