<app-loading *ngIf="!dataArrived"></app-loading>

<div id="feed-page" *ngIf="dataArrived">
	<nav id="profile-bar" class="round-image rounded-border">
		<div id="profile-info" (click)="goToProfile()">
			<img id="profile-bar-profile-pic" class="round-image" [src]="user.profilePictureURL" alt=""/>
			<div id="profile-bar-name">
				{{ user.firstName }} {{ user.lastName }}
			</div>
			<div id="profile-bar-username">
				@{{ user.userName }}
			</div>
		</div>
		<button class="submit-btn" (click)="goToSettings()">Settings</button>
		<button class="submit-btn" (click)="logout()">Logout</button>
	</nav>
	<div id="feed-content">
		<nav id="top-bar">
			<div id="main-content">
				<img id="top-bar-profile-pic" class="round-image" [src]="user.profilePictureURL" alt="" (click)="goToProfile()">
				<form id="create-post-form" class="rounded-border" [formGroup]="createPostFormGroup" (ngSubmit)="createPost()">
					<div id="form-inputs">
						<input id="top-bar-create-post" type="text" formControlName="newPostMessage" placeholder="What's on your mind?"/>
						<input type="submit" style="display: none" /> <!-- You need this element, so when you press enter the request is sent -->
						<img id="attachment-img" src="assets/images/paper-clip.png">
						<input id="file-upload" type="file" formControlName="fileUpload" (change)="onFileUpload($event)" multiple>
					</div>
					<div class="form-attachments">
						<div *ngFor="let file of files" class="form-attachment">
							{{ file.name ? file.name : 'Attachment' }}
							<div class="remove-form-attachment" (click)="removeAttachment(file.name)">
								☒
							</div>
						</div>
					</div>
				</form>
				<a id="top-bar-open-chat" href="">
					<img src="assets/images/feed/chat-pic.png" alt=""/>
				</a>
			</div>
		</nav>
		<div id="posts" class="scroll-standalone" (scroll)="onScroll($event)">
			<div id="no-posts-msg" *ngIf="posts.length === 0">
				None of your friends have posted anything yet!<br>
				Try refreshing your page!
			</div>
			<div *ngFor="let friendPost of posts" class="post">
				<app-post [paramId]="friendPost.postId.toString()"></app-post>
			</div>
		</div>
	</div>
</div>
