#content {
  font-size: 1.3em;
}

#content hr {
	width: 100%;
	border: 1px solid black;
	box-sizing: border-box;
}

#back-btns {
  width: 100%;
  display: flex;
}

#back-btns > * {
  flex: 1;
  margin-right: .2em;
}

#back-btns > *:nth-last-child(1) {
  margin-right: 0;
}
